/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */
 $background_texture: image_path('backgrounds/bg-texture.png');
$background_texture_dark: image_path('backgrounds/bg-texture_dark.png');

$header_family: 'Helvetica', Arial, sans-serif;
$fb_green: #7dcf46;
$fb_orange: #FF8D01;
$fb_red: red;
 
html { height: 100%; }
body { height: 100%; margin: 0; padding: 0; font-family: $header_family; font-weight: 700; }

#map_canvas { height: 100%; z-index: 5; }
#bottom_canvas { width: 100%; display: block; position: absolute; bottom: 0; z-index: 10; overflow: visible;}
#request_canvas { width: 100%; font-size: 3em; padding: 50px 0; text-align: center; display: block; position: relative; bottom: 0; z-index: 10; }
#request_status { width: 100%; font-size: 1em; padding: 20px 0; text-align: center; display: block; position: relative; bottom: 0; z-index: 10; background: rgba(0,0,0,.5); color: #fff; 
  &.served { background: rgba(3,77,4,.5); color: #fff; }
}
#select_course, #finding_courses { width: 100%; font-size: 1em; padding: 20px 0; text-align: center; display: block; position: relative; bottom: 0; z-index: 10; background: rgba(0,0,0,.5); color: #fff; 
  &.served { background: rgba(3,77,4,.5); color: #fff; }
}
#selected_course { width: 100%; font-size: .8em; padding: 10px 0; text-align: center; display: block; position: relative; top: 0; z-index: 10; background: rgba(0,0,0,.5); color: #fff; 
}

@media print {  .gmnoprint {    display:none  }}@media screen {  .gmnoscreen {    display:none  }}
	@-moz-keyframes pulsate {
		from {
			-moz-transform: scale(0.25);
			opacity: 1.0;
		}
		95% {
			-moz-transform: scale(1.3);
			opacity: 0;
		}
		to {
			-moz-transform: scale(0.3);
			opacity: 0;
		}
	}
	@-webkit-keyframes pulsate {
		from {
			-webkit-transform: scale(0.25);
			opacity: 1.0;
		}
		95% {
			-webkit-transform: scale(1.3);
			opacity: 0;
		}
		to {
			-webkit-transform: scale(0.3);
			opacity: 0;
		}
	}
	/* get the container that's just outside the marker image, 
		which just happens to have our Marker title in it */
	#map_canvas div.gmnoprint[title="Your Location"] {
		-moz-animation: pulsate 1.5s ease-in-out infinite;
		-webkit-animation: pulsate 1.5s ease-in-out infinite;
		border:1pt solid #fff;
		/* make a circle */
		-moz-border-radius:51px;
		-webkit-border-radius:51px;
		border-radius:51px;
		/* multiply the shadows, inside and outside the circle */
		-moz-box-shadow:inset 0 0 5px #06f, inset 0 0 5px #06f, inset 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f;
		-webkit-box-shadow:inset 0 0 5px #06f, inset 0 0 5px #06f, inset 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f;
		box-shadow:inset 0 0 5px #06f, inset 0 0 5px #06f, inset 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f;
		/* set the ring's new dimension and re-center it */
		height:51px!important;
		margin:-18px 0 0 -18px;
		width:51px!important;
	}
	/* hide the superfluous marker image since it would expand and shrink with its containing element */
/*	#map_canvas div[style*="987654"][title] img {*/
	#map_canvas div.gmnoprint[title="Your Location"] img {
		display:none;
	}
	/* compensate for iPhone and Android devices with high DPI, add iPad media query */
	@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (device-width: 768px) {
		#map_canvas div.gmnoprint[title="Your Location"] {
			margin:-10px 0 0 -10px;
		}
	}
.btnStyle {
	padding: 10px 15px;
	border-radius: 4px;
	border-style: solid;
	border-width: 0;
	font-family: $header_family;
	text-decoration: none;
	font-weight: 700;
	display: inline-block;
	cursor: pointer;
	-webkit-transition: all .1s ease-in-out .2s; transition: all .1s ease-in-out .2s; -moz-transition: all .1s ease-in-out .2s; -o-transition: all .1s ease-in-out .2s;
	background-image: url($background_texture_dark), -webkit-gradient( linear, left bottom, left top, color-stop(0.10, #888), color-stop(0.75, #aaa) );
		background-image: url($background_texture_dark), -moz-linear-gradient(left bottom, left top, color-stop(0.10, #888), color-stop(0.75, #aaa) );
		background-image: url($background_texture_dark), -o-linear-gradient(left bottom, left top, color-stop(0.10, #888), color-stop(0.75, #aaa) );
		background-image: url($background_texture_dark), -ms-linear-gradient(left bottom, left top, color-stop(0.10, #888), color-stop(0.75, #aaa) );
		background-image: url($background_texture_dark), linear-gradient(left bottom, left top, color-stop(0.10, #888), color-stop(0.75, #aaa) );
		box-shadow: 0 1px 0 #999, inset 0 1px 0 #bbb;
		-webkit-box-shadow: 0 1px 0 #999, inset 0 1px 0 #bbb;
		border-color:  #666;
		text-shadow: 0 1px 0px #bbb;
		color: #333;
		-webkit-transition: none;
		transition: none;
		-moz-transition: none;
		-o-transition: none;
	&:hover {
		text-decoration: none; color: #333; -webkit-box-shadow: 0 1px 0 #aaa, inset 0 1px 0 #bbb, 0 0 12px #666; box-shadow: 0 1px 0 #aaa, inset 0 1px 0 #bbb, 0 0 12px #666;
	}
	
	&.orange { 
		background-image: url($background_texture_dark), -webkit-gradient(linear, left bottom, left top, color-stop(0.10, #FF8D01), color-stop(0.75, #FFC12D) );
		background-image: url($background_texture_dark), -moz-linear-gradient(left bottom, left top, color-stop(0.10, #FF8D01), color-stop(0.75, #FFC12D) );
		background-image: url($background_texture_dark), -o-linear-gradient(left bottom, left top, color-stop(0.10, #FF8D01), color-stop(0.75, #FFC12D) );
		background-image: url($background_texture_dark), -ms-linear-gradient(left bottom, left top, color-stop(0.10, #FF8D01), color-stop(0.75, #FFC12D) );
		background-image: url($background_texture_dark), linear-gradient(left bottom, left top, color-stop(0.10, #FF8D01), color-stop(0.75, #FFC12D) );
		box-shadow: 0 1px 0 #7a97a1, inset 0 1px 0 #FFEDC1;
		-webkit-box-shadow: 0 1px 0 #7a97a1, inset 0 1px 0 #FFEDC1;
		border-color:  #A65E05;
		text-shadow: 0 1px 0px #ffB833;
		color: #333;
		&:hover {
			box-shadow: inset 0 1px 0 #FFEDC1, 0 1px 0 #c1ccd2, 0 0 12px #FFD954;
			-webkit-box-shadow: inset 0 1px 0 #FFEDC1, 0 1px 0 #c1ccd2, 0 0 12px #FFD954;
		}
	}
}