!!!
%html
  %head
    %title CartCallWeb
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application", "http://maps.googleapis.com/maps/api/js?key=AIzaSyBaBWcm616ZLX6i0eigvF5k-HkBWhjjaPQ&sensor=true"
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1.0, user-scalable=no", :name => "viewport"}/
    :javascript
      $(document).ready(function(){
        test.map();
      });
  %body
    = yield